@import "mixins";
@import "common";

.filter-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  background-color: $bg-color;

  .filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
    font-size: 14px;
    color: $primary-brown;
    font-weight: 600;

    select {
      padding: 0.2rem;
      border: 2px solid $primary-brown;
      border-radius: 0.5rem;
      color: $primary-brown;
      font-weight: 600;
    }
  }
}

.card-container {
  overflow-y: auto;
  background-color: $bg-color;
}

.card-wrap {
  padding: 0.7rem 1rem 1rem 1rem;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  border-radius: 10px;
  background-color: $bg-color-light;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary-brown;

    .difficulty {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      color: white;
      font-weight: bold;
    }

    .diff1 {
      background-color: $orange;
    }
    .diff2 {
      background-color: $green;
    }
    .diff3 {
      background-color: $blue;
    }
    .diff4 {
      background-color: $purple;
    }
    .diff5 {
      background-color: $pink;
    }

    h1 {
      font-family: 'NanumSquareRoundExtraBold', sans-serif;
      font-size: 1.1rem;
      font-weight: 900;
      span {
        font-family: 'NanumSquareRoundExtraBold', sans-serif;
        padding-left: 0.5rem;
        color: $light-brown;
        font-size: 0.8rem;
        font-weight: 900;
      }
    }

    .stamp-wrap {
      position: relative;
    }

    .stamp {
      position: absolute;
      right: -0.5rem;
      top: -1rem;
      width: 5rem;
      height: 5rem;
      background-image: url('~/assets/images/stamp1.png');
      opacity: 0.5;
      background-size: contain;
    }
  }

  .card-content {
    display: flex;
    gap: 0.6rem;
    padding-top: 0.7rem;
    color: $primary-brown;
    font-size: 0.9rem;

    .card-image {
      width: 8rem;
      height: 8rem;
      border: 3px solid $primary-brown;
      border-radius: 0.5rem;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.3rem;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .location, .height, .comment {
      position: relative;
      padding-left: 1.3rem;
      margin-bottom: 0.8rem;
      height: 1rem;
      font-weight: 600;
    }

    .location {
      margin-top: 0.2rem;
      margin-bottom: 1rem;
    }

    .comment {
      line-height: 1.6;
    }

    .location, .height {
      display: flex;
      align-items: flex-end;
    }

    .location::before {
      content: '';
      position: absolute;
      left: 0;
      width: 1rem;
      height: 1rem;
      background-image: url('~/assets/images/location.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .height::before {
      content: '';
      position: absolute;
      left: 0;
      width: 1rem;
      height: 1rem;
      background-image: url('~/assets/images/height.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .comment::before {
      content: '';
      position: absolute;
      left: 1px;
      top: 4px;
      width: 1rem;
      height: 1rem;
      background-image: url('~/assets/images/comment.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .regist {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: auto;
      button {
        @include button;
        background-color: $point-color;
      }
    }
  }
}