$primary-brown: rgb(109,83,65);
$light-brown: rgb(171, 153, 126);
$point-color: rgb(253, 190, 148);
$bg-color: rgb(255, 247, 232);
$bg-color-light: rgb(254, 252, 246);
$pink: #f6c6ea;
$purple: #e2d5f3;
$blue: #a3c4f3;
$green: #d8e69b;
$orange: #ffe1b6;

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.gap-half-4 {
  gap: 0.4rem;
}